<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="nl.ndat.tvlauncher">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-feature
		android:name="android.software.leanback"
		android:required="false" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<application
		android:name=".LauncherApplication"
		android:allowBackup="true"
		android:banner="@drawable/banner_launcher"
		android:fullBackupContent="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.TVLauncher">
		<activity
			android:name=".LauncherActivity"
			android:excludeFromRecents="true"
			android:exported="true"
			android:launchMode="singleTask"
			android:stateNotNeeded="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.LAUNCHER_APP" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.HOME" />
				<category android:name="android.intent.category.MONKEY" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".data.receiver.PackageChangeReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_CHANGED" />
				<action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />

				<data android:scheme="package" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>

	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN" />
		</intent>
	</queries>
</manifest>
