name: App Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # tag=v2
      - name: Setup Java
        uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # tag=v2
        with:
          distribution: adopt
          java-version: 11
      - name: Setup Gradle cache
        uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed # tag=v2.1.7
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Assemble debug APKs
        run: ./gradlew --build-cache --no-daemon --info assembleDebug
      - name: Upload artifacts
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # tag=v3
        with:
          name: build-artifacts
          retention-days: 14
          if-no-files-found: error
          path: app/build/outputs/apk/debug/*.apk
