name: App Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Setup Java
        uses: actions/setup-java@f0bb91606209742fe3ea40199be2f3ef195ecabf # tag=v2
        with:
          distribution: adopt
          java-version: 11
      - name: Setup Gradle cache
        uses: actions/cache@fd5de65bc895cf536527842281bea11763fefd77 # tag=v3.0.8
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Assemble debug APKs
        run: ./gradlew --build-cache --no-daemon --info assembleDebug
      - name: Upload artifacts
        uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 # tag=v2
        with:
          name: build-artifacts
          retention-days: 14
          if-no-files-found: error
          path: app/build/outputs/apk/debug/*.apk
